<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.edu.pja.financemanager">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinanceManager">
        <activity android:name=".monthlyBalanceActivity.MonthlyBalanceActivity"></activity>
        <activity android:name=".addEditActivity.AddPositionActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:authorities="pl.edu.pja.financemanager"
            android:name=".db.PositionProvider"
            android:exported="true" />
    </application>

</manifest>